{
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "cursorOffset": 0,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 160,
    "proseWrap": "preserve",
    "quoteProps": "preserve",
    "semi": false,
    "singleAttributePerLine": false,
    "useTabs": false,
    "functionParenNewline": "never",
    "arrayInlineSingleLine": true,
    "objectLiteralInlineSingleLine": true
}